body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}
table {
    width: 90%;
    margin: auto;
    border: 1px solid aqua;
    border-collapse: collapse;
    caption-side: bottom;
}
th, td {
    border: 1px solid rgb(0, 255, 0);
}
table tr:nth-child(odd) {
    background-color: azure;
}
table tr:nth-child(even) {
    background-color: darkolivegreen;
    color: white;
}

th {
    background-color: darkgreen;
    color: whitesmoke;
    padding: 15px;
}
td {
    padding: 12px; 
    text-align: justify;
}
table tr:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 255, 34);
}